.checkout-product {
  display: flex;
  margin: 20px 0;
}
.checkout-product-info {
  padding-left: 20px;
}
.checkout-product button {
  background-color: #ff9f00;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  margin-top: 10px;
  color: white;
  cursor: pointer;
  padding: 2px 2px;
}
.checkout-product-image {
  width: 180px;
  height: 180px;
  object-fit: contain;
}
.checkout-product-rating {
  display: flex;
}
.checkout-product-title {
  font-size: 17px;
  font-weight: 800;
}
